{% extends "home/layout.html" %} {% load static %} {% block title %} About Us |
The Wildfire Network {% endblock %} {% block style %}
<link href="{% static 'home/about.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<section id="header">
  <h1>About Us</h1>
</section>
<section id="text">
  <div class="card bg-gray ">
    <div class="card-body fw-bold">
      The Wildfire Network was a project inspired by our shared concern regarding
      the catastrophic impact of wildfires worldwide.
    </div>
    <div class="card-body fw-bold">
      The recent wildfires that have swept through Canada have fueled our
      determination to establish this initiative. We aim to monitor and predict
      wildfire activity, which can help those at risk and those impacted.
    </div>
  </div>

  <div class="card bg-gray mt-5 mb-5">
    <div class="card-body h3 ">
      How You Can Help Stay Informed:
    </div>
    <div class="card-body">
      Knowledge is the first step towards preparedness and proactive action. Our
      site was made just for this!
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card card-custom">
        <div class="h3 card-header text-bg-dark ">
          Spread Awareness:
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>The more aware people are of the risks and potential measures to take, the
              better-prepared society can become.</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-custom">
        <div class="h3 card-header text-bg-dark">
          Report Sightings:
        </div>
        <div class="card-body ">
          <blockquote class="blockquote mb-0">
            <p>If you see a wildfire, inform your local authorities.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

   
 

 
</section>
{% endblock %}
