{% extends "home/layout.html" %} {% load static %} {% block style %}
<link href="{% static 'home/about.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<section id="header">
  <h1>About Us</h1>
</section>
<section id="text">
  <p>
    The Wildfire Network was a project inspired by our shared concern regarding
    the catastrophic impact of wildfires worldwide.
  </p>
  <p>
    The recent wildfires that have swept through Canada have fueled our
    determination to establish this initiative. We aim to monitor and predict
    wildfire activity, which can help those at risk and those impacted.
  </p>
  <h2>How You Can Help Stay Informed:</h2>
  <p>
    Knowledge is the first step towards preparedness and proactive action. Our
    site was made just for this!
  </p>
  <h3>Spread Awareness:</h3>
  <p>
    The more aware people are of the risks and potential measures to take, the
    better-prepared society can become.
  </p>
  <h3>Report Sightings:</h3>
  <p>If you see a wildfire, inform your local authorities.</p>
</section>
{% endblock %}
