{% extends "home/layout.html" %} {% load static %} {% block title %} Donate |
The Wildfire Network {% endblock %} {% block style %}
<link href="{% static 'donate.css' %}" rel="stylesheet" />
{% endblock %} {% block content%}
<style>
  body {
    background-color: #bfaaaa;
   }
  </style> 
<div class="container">
  <div class="card bg-gray mt-4 mr-4 ml-4 mb-4">
    <div class="card-body fw-bold">
      Donating is one of the best ways to help those affected by wildfires.
      Every dollar makes an impact.
    </div>
  </div>
  <h1>Donate</h1>
  <div class="row mt-3">
    <form action="{% url 'donate' %}" method="POST">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          name="email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Henry"
          name="firstName"
        />
        <label for="floatingInput">First name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Cavill"
          name="lastName"
        />
        <label for="floatingInput">Last name</label>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input
          type="text"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
          name="amount"
        />
        <span class="input-group-text">.00</span>
      </div>

      <button type="submit" class="btn btn-primary">Donate</button>
    </form>
  </div>
</div>
{% endblock %}
