.carousel .item {
    height: 700px;
  }

  .carousel-inner {
    height: 700px
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      max-height: 700px;
  }

  .gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0.5), rgba(91,0,0,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(91,0,0,0.5))
  }